@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
}

.gap-8 {
    gap: 8px;
}

.card {
    border: none !important;
    background: #FFFFFF;
    transition: all 400ms linear !important;
    box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.fc-grey{
    color: #7B7B7B;
}

.pt-24 {
    padding-top: 24px;
}

.pt-12 {
    padding-top: 12px;
}

.fs-sm {
    font-size: 16px !important;
}

.fs-md {
    font-size: 20px !important;
}

.lh-24 {
    line-height: 24.72px;
}